<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!---------------- CSS------------------->
  <link rel="stylesheet" href="/css/styles2.css">
  <link rel="stylesheet" href="/css/styles2.css">
  <link rel="stylesheet" href="/scss/styles.scss">

   <!---Icon Link------>
   <link rel="icon" href="favicon.ico">
   <!---Font Awesome----------->
  <script src="https://kit.fontawesome.com/4fbdecbbc2.js" crossorigin="anonymous"></script>

      <!---google fonts--->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat&display=swap" rel="stylesheet">
    <title>Footer</title>
</head>


<footer id="footi">
    <i class="fab fa-twitter social-s"></i>
    <i class="fab fa-facebook-f social-s"></i>
    <i class="fab fa-instagram social-s"></i>
    <i class="fas fa-envelope social-s"></i>
    <p class="foot-para">Copyright 2023 <a href="https://ALvshtech.com">ALVSH Tech</a></p>
  </footer>