<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

  <title>ALVSH Service</title>

  <!---CSS Stylesheet------>
  <!-- <link rel="stylesheet" href="/css/styles2.css"> -->
  <!-- <link rel="stylesheet" href="/css/styles2.css">
  <link rel="stylesheet" href="/scss/styles.scss"> -->

  <!---Icon Link------>


  <link rel="icon" href="favicon.ico">

  <!---google fonts--->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">


  <!---Font Awesome----------->
  <script src="https://kit.fontawesome.com/4fbdecbbc2.js" crossorigin="anonymous"></script>
 
  <!-- Bootstrap Scripts -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
</head>

<!-------- JS index sheet----------------->

<body>
  <header>
    <%- include ('navbar')  %>
  </header>
  <!---------------------------------------------Top Section--------------------------------------------------------->


  

  
  <!----------------------Title Section ----------------------->

  <section class="landing-section top-container" id="top-section">
    <div class="container-fluid" id="overlay">
      <div class="row top-heading-div container">
        <div class="top-heading">
          <h1 class="intro-heading">Welcome To<span class="alvsh-title"> ALVSH Tech </span>Services</h1>
          <p class="intro-paragraph">We manage and build elegant software solutions for small businesses, healthcare
            providers and non-profit organizations</p>
          <div class="btn-div">
            <a href="#service-section"><button type="button" class="btn btn-primary btn-info" id="serviceBtn">Explore
                our Services</button></a>
          </div>
        </div>
      </div>
  </section>


  <!------------------------------------------Middle Section------------------------------------------------------------->

  <section class="main-sections" id="service-section">

    <div class="middle-title">
      <hr class="title-break">
      <h2>Our Focus Areas</h2>
    </div>

    <div class="row middle-wrap">
      <div class="support-box service-div col-lg-4">
        <img class="service-img support-img" src="https://cdn-icons-png.flaticon.com/512/1321/1321737.png" alt="">
        <h3 class="service-title">Technology</h3>
        <p style="display: none;" class="service-para support-para" id="service-info">Desktop support and help desk
          analysts, applications architects, network administrators, and more</p>
      </div>

      <div class="web-box service-div col-lg-4">
        <img class="service-img web-img" src="https://cdn-icons-png.flaticon.com/512/1055/1055666.png" alt="">
        <h3 class="service-title">Application Development</h3>
        <p style="display: none;" class="service-para web-para" id="service-info">We design and build responsive
          business Mobile and Web Applications</p>
      </div>

      <div class="education-box service-div col-lg-4">
        <img class="service-img edu-img" src="https://cdn-icons-png.flaticon.com/512/2857/2857527.png" alt="">
        <h3 class="service-title">Education</h3>
        <p style="display: none;" class="service-para edu-para" id="service-info">Begin your IT career learning the
          fundamentals through our free online courses</p>
      </div>
    </div>

  </section>


  <!------------------------------------------Buttom Section------------------------------------------------------------->

  <section class="main-sections bottom-section">
    <div class="container-fluid btm-overlay"></div>
    <div id="bottom-text">
      <div class="btm-head-div">
        <h1 class="bottom-header">Building the future of the Tech Economy</h1>
      </div>
      <div class="btm-para-div">
        <p class="botton-para">Your donation is a crucial investment in rebooting the economy by providing access to careers in tech</p>
      </div>
      <button id="charity-btn">Learn More</button>
      <div id="info-display">
        <h5>Hello World</h5>
      </div>
    </div>
  </section>
  <!------------------------------------------Footer Section------------------------------------------------------------->


<%- include ('footer') %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/../views/index.js"></script>
  <script src="/views/function.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>

</html>